<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Example - Search</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div>
    <header>
      <h2 class="container">검색</h2>
    </header>
    <div id="app" class="container">
      <search-form v-bind:query="query" v-on:submit="onSubmit" v-on:reset="onClickReset"></search-form>
      
      <div class="content">
        <div v-if="!submitted">
          <ul class="tabs">
            <li v-for="tab in tabs" v-on:click="onClickTab(tab)" v-bind:class="{active: tab === selectedTab}">
              {{tab}}
            </li>
          </ul>

          <div v-if="selectedTab === tabs[0]">
            <keyword-list type="recommand" v-on:click-keyword="onClickKeyword"></keyword-list>
          </div>
          
          <div v-if="selectedTab === tabs[1]">
            <keyword-list type="history"v-on:click-keyword="onClickKeyword"></keyword-list>
          </div>
        </div>

        <div v-else>
          <search-result v-bind:data="searchResult"></search-result>
        </div>        
      </div>
    </div>
  </div>
  
  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>