<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Example - Search</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2 class="container">검색</h2>
    </header>
    <div class="container">
      <search-form v-bind:value="query" v-on:submit="onSubmit" v-on:reset="onClickReset"></search-form>
      
      <div class="content">
        <div v-if="!submitted">
          <ul class="tabs">
            <li v-for="tab in tabs" v-on:click="onClickTab(tab)" v-bind:class="{active: tab === selectedTab}">
              {{tab}}
            </li>
          </ul>

          <div v-if="selectedTab === tabs[0]">
            <keyword-list type="recommand" v-on:click-keyword="onClickKeyword"></keyword-list>
          </div>
          
          <div v-if="selectedTab === tabs[1]">
            <keyword-list type="history" v-on:click-keyword="onClickKeyword"></keyword-list>
          </div>
        </div>

        <div v-else>
          <search-result v-bind:data="searchResult"></search-result>
        </div>        
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>

<template id="search-form">
  <form v-on:submit="onSubmit">
    <input type="text" placeholder="검색어를 입력하세요." autofocus v-bind:value="input">
    <button v-show="input.length" type="reset" class="btn-reset" v-on:click.stop="onClickReset"></button>
  </form>
</template>

<template id="keyword-list">
  <ul class="list">
    <li v-for="(keyword, index) in keywords" v-on:click="onClickKeyword(keyword)">
      <span v-if="recommandType" class="number">{{index + 1}}</span>
      {{keyword}}
      <span v-if="historyType" class="date">12.11</span>
      <button v-if="historyType" class="btn-remove" v-on:click.stop="onClickRemoveHistory(keyword)"></button>
    </li>
  </ul>
</template>

<template id="search-result">
  <div v-if="data.length">
    <ul>
      <li v-for="item in data">
        <img v-bind:src="item.image"> {{item.name}}
      </li>
    </ul>
  </div>
  <div v-else>
    {{query}} 검색어로 찾을수 없습니다
  </div>
</template>